@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body{
  
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #E39C13;
  --color-secondary: #7EA00E;
  
  --color-accent: #415062;
  --color-bgaccent: #D2D1D1;
}